## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_bins = application_df["APPLICATION_TYPE"].value_counts()
app_type_bins

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_bins[app_type_bins<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_bins = application_df["CLASSIFICATION"].value_counts()
classification_bins

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_over1 = classification_bins[classification_bins > 1]
class_over1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_bins[classification_bins<200].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_df = pd.get_dummies(application_df)
dummy_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = dummy_df["IS_SUCCESSFUL"]

X = dummy_df.drop(columns='IS_SUCCESSFUL').values

In [11]:
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
X_train[0]

array([    1, 14651,     0,     0,     0,     1,     0,     0,     0,
           0,     0,     0,     0,     1,     0,     0,     0,     1,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     1,     0,     0,     0,     0,     1,     0,     0,
           0,     0,     0,     0,     1,     0,     0,     1,     0])

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3680

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 6,141
Trainable params: 6,141
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 4ms/step - loss: 0.5685 - accuracy: 0.7213
Epoch 2/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5523 - accuracy: 0.7311
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7327
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7330
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7348
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7344
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7358
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7347
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7356
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7362
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7359
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7376
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7357
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7362
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7378
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7372
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7380
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7381
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7384
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7377
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7379
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7371
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7385
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7374
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7385
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7377
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7383
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7392
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7396
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7403
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7387
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7398
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7398
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7396
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7408
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7397
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7393
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7401
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7400
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7400
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7400
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7398
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7407
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7411
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7405
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7409
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7401
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7401
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7409
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7402
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7402
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7413
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7408
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7402
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7406
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7415
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7408
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7412
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7414
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7412
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7410
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7413
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7416
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7421
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7405
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7414
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7408
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7404
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7417
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7414
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7409
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7413
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7411
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7406
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7410
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7418
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7418
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7414
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7414
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7422
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7414
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7415
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7411
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7411
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7412
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7428
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7416
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7416
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7411
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7421
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7414
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7411
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7421
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7416
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7422
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7423
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7421
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7414
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7420
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7415

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5622 - accuracy: 0.7248 - 409ms/epoch - 2ms/step
Loss: 0.5622111558914185, Accuracy: 0.724781334400177

In [19]:
#
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value= 90,
        step=5), activation=activation, input_dim=number_input_features))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=30,
            step=5),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [20]:
# Import the kerastuner library
!pip install keras_tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras_tuner
  Downloading keras_tuner-1.3.5-py3-none-any.whl (176 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 176.1/176.1 kB 5.2 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras_tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras_tuner) (2.27.1)
Collecting kt-legacy (from keras_tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (3.4)
Installing collected packages: kt-legacy, keras_tuner
Successfully installed keras_tuner-1.3.5 kt-legacy-1.0.5

In [21]:
import keras_tuner as kt
tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=50,
    hyperband_iterations=2)

In [22]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=50,validation_data=(X_test_scaled,y_test))

Trial 180 Complete [00h 02m 24s]
val_accuracy: 0.7264139652252197

Best val_accuracy So Far: 0.7281632423400879
Total elapsed time: 01h 00m 55s

In [27]:
# Top 3 model hyperparameters 
top_hyper = tuner.get_best_hyperparameters(3)
for param in top_hyper:
  print(param.values)

{'activation': 'relu', 'first_units': 26, 'num_layers': 2, 'units_0': 26, 'units_1': 26, 'units_2': 16, 'units_3': 21, 'units_4': 21, 'tuner/epochs': 50, 'tuner/initial_epoch': 17, 'tuner/bracket': 1, 'tuner/round': 1, 'tuner/trial_id': '0078'}
{'activation': 'relu', 'first_units': 41, 'num_layers': 3, 'units_0': 11, 'units_1': 21, 'units_2': 16, 'units_3': 26, 'units_4': 6, 'tuner/epochs': 50, 'tuner/initial_epoch': 0, 'tuner/bracket': 0, 'tuner/round': 0}
{'activation': 'sigmoid', 'first_units': 86, 'num_layers': 5, 'units_0': 21, 'units_1': 26, 'units_2': 6, 'units_3': 1, 'units_4': 1, 'tuner/epochs': 50, 'tuner/initial_epoch': 0, 'tuner/bracket': 0, 'tuner/round': 0}

In [28]:
# Top 3 models
top_model = tuner.get_best_models(3)
for model in top_model:
  model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
  print(f'Loss: {model_loss}, Accuracy: {model_accuracy}')

268/268 - 0s - loss: 0.5538 - accuracy: 0.7282 - 443ms/epoch - 2ms/step
Loss: 0.5537771582603455, Accuracy: 0.7281632423400879
268/268 - 0s - loss: 0.5542 - accuracy: 0.7282 - 442ms/epoch - 2ms/step
Loss: 0.5542317628860474, Accuracy: 0.7281632423400879
268/268 - 0s - loss: 0.5734 - accuracy: 0.7273 - 482ms/epoch - 2ms/step
Loss: 0.5733545422554016, Accuracy: 0.7273469567298889

In [29]:
# Evaluate best model against full test data
best_model = tuner.get_best_models()[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

WARNING:tensorflow:Detecting that an object or model or tf.train.Checkpoint is being deleted with unrestored values. See the following logs for the specific values in question. To silence these warnings, use `status.expect_partial()`. See https://www.tensorflow.org/api_docs/python/tf/train/Checkpoint#restorefor details about the status object returned by the restore function.
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.1
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.2
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.3
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.4
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.5
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.6
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.7
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.8
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.9
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.10
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.11
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.12
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.13
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.14
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.15
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.16
WARNING:tensorflow:Detecting that an object or model or tf.train.Checkpoint is being deleted with unrestored values. See the following logs for the specific values in question. To silence these warnings, use `status.expect_partial()`. See https://www.tensorflow.org/api_docs/python/tf/train/Checkpoint#restorefor details about the status object returned by the restore function.
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.1
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.2
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.3
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.4
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.5
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.6
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.7
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.8
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.9
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.10
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.11
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.12
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.13
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.14
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.15
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.16
WARNING:tensorflow:Detecting that an object or model or tf.train.Checkpoint is being deleted with unrestored values. See the following logs for the specific values in question. To silence these warnings, use `status.expect_partial()`. See https://www.tensorflow.org/api_docs/python/tf/train/Checkpoint#restorefor details about the status object returned by the restore function.
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.1
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.2
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.3
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.4
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.5
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.6
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.7
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.8
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.9
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.10
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.11
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.12
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.13
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.14
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.15
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.16
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.17
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.18
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.19
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.20
WARNING:tensorflow:Detecting that an object or model or tf.train.Checkpoint is being deleted with unrestored values. See the following logs for the specific values in question. To silence these warnings, use `status.expect_partial()`. See https://www.tensorflow.org/api_docs/python/tf/train/Checkpoint#restorefor details about the status object returned by the restore function.
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.1
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.2
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.3
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.4
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.5
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.6
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.7
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.8
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.9
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.10
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.11
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.12
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.13
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.14
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.15
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.16
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.17
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.18
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.19
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.20
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.21
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.22
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.23
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.24
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.25
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.26
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.27
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer._variables.28

268/268 - 0s - loss: 0.5538 - accuracy: 0.7282 - 441ms/epoch - 2ms/step
Loss: 0.5537771582603455, Accuracy: 0.7281632423400879

In [30]:
best_model.save('../AlphabetSoupCharity_Optimization.h5')